server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      config:
        import-check:
          enabled: false
      discovery:
        server-addr: ${NACOS_ADDR:127.0.0.1:8848}
    sentinel:
      transport:
        dashboard: ${SENTINEL_DASHBOARD:127.0.0.1:8080}
    gateway:
      discovery:
        locator:
          enabled: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "http://localhost:5173"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers:
              - "*"
            allow-credentials: true
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
        - id: user-auth
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
        - id: user-account
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: user-roles
          uri: lb://user-service
          predicates:
            - Path=/api/roles/**
        - id: user-admin
          uri: lb://user-service
          predicates:
            - Path=/api/admin/**
        - id: regulation-service
          uri: lb://regulation-service
          predicates:
            - Path=/api/regulation/**
        - id: query-service
          uri: lb://query-service
          predicates:
            - Path=/api/query/**
        - id: warning-service
          uri: lb://warning-service
          predicates:
            - Path=/api/warning/**

jwt:
  secret: "foodUserServiceJwtSecretKey123456"
